.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    width: 75%;
    justify-content: space-around;
}

.img-container{
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding-top: 75px;
}

.ranger-one-image {
    width: 400px;
}

.ranger-two-image {
    width: 500px;
}